# config/config.yaml

## General BeeGees pipeline parameters and paths
run_name: "BeeGees_RUN_1"                        # BeeGees run name identifier
mge_path: "path/to/MitoGeneExtractor"            # Path to MGE installation (MitoGeneExtractor-vX.X.X file)
samples_file: "path/to/samples.csv"              # Path to samples.csv
sequence_reference_file: ""                      # Path to sequence_references.csv (leave path blank/empty if 'run_gene_fetch' == true)
output_dir: "path/to/BeeGees-RUN_1-out"          # Path to main output directory

## Gene Fetch parameters (https://github.com/bge-barcoding/gene_fetch), or using `gene-fetch --help`.
run_gene_fetch: true
gene_fetch:
   email: "example@example.ac.uk"                # Email for NCBI API
   api_key: "12345678910"                        # NCBI API key
   gene: "cox1"                                  # Target gene (e.g., cox1/coi or rbcl)
   minimum_length: "500"                         # Minimum length of protein reference(s) to fetch (default: 500aa)
   input_type: "taxid"                           # Type of expected taxonomy provided. 'taxid' OR 'hierarchical' taxonomic lineage
   genbank: true                                 # Download GenBank records for corresponding pseudo-references

## Downsampling parameters
downsampling:
  enabled: false                                 # Set to true to enable downsampling (default: false)
  max_reads: 0                                   # Maximum number of read PAIRS to process

## MitoGeneExtrator parameters
# Exonerate relative score threshold parameter
r:
  - 1
  - 1.3
  - 1.5
# Exonerate minimum score threshold parameter
s:
  - 50
  - 100
n: 0                                             # Number of bp to extend beyond the Exonerate alignment
C: 5                                             # Genetic code
t: 0.5                                           # Consensus threshold

## Post-processing of aligned reads for cleaning (using six supplementary scripts)
# See the docstring of each script (in workflow/scripts/) for more detailed parameter information
fasta_cleaner:
  consensus_threshold: 0.5                       # Threshold at which bases at each position must 'agree' to be incldued in the consensus
  human_threshold: 0.95                          # Threshold at which reads are removed due to similarity with human COI
  at_difference: 0.1                             # Threshold at which reads are removed due to AT content variation
  at_mode: "absolute"                            # At content filtering mode (Absolute/Higher/Lower)
  outlier_percentile: 90.0                       # Threshold at which reads are flagged as statistical outliers to the consensus and removed
  reference_dir: null                            # Path to directory containing references for filtering (set to null/none if omitting step)
  reference_filter_mode: "remove_similar"        # Filter mode: "keep_similar" (remove outliers) or "remove_similar" (remove sequences similar to reference)

## Structural validation
run_structural_validation: true                  # Set false to skip structural validation step
structural_validation:
  target: "cox1"                                 # Options: cox1/coi or rbcl (maps to corresponding HMM)
  verbose: false                                 # Enable verbose logging
  genetic_code: 5                                # Genetic code table for translation

## Taxonomic validation
run_taxonomic_validation: true                   # If run_structural_validation == false, run_taxonomic_validation MUST also be false
taxonomic_validation:
    database: "/BLAST_database/"                 # Path to directory containing BLASTn database files or fasta
    taxval_rank: "family"                        # Taxonomic rank for validation (phylum, class, order, family, genus, species) (default & recommended: family)
    expected_taxonomy: "samples.csv"             # Path to CSV file containing hierarchical taxonomic lineage information for each sample.
                                                 # It must contain the following columns: ID,phylum,class,order,family,genus,speces. ID must equal 'ID' from samples_file above
    verbose: true                                # Enable verbose logging
    min_pident: 80                               # Minimum percent identity (pident) threshold to be considered
    min_length: 100                              # Minimum length of BLASTn alignment to be considered

## Resource allocation for each rule. Memory shown in Mb (mem_mb), e.g. 2048 = 2G memory. Rules have dynamic memory scaling upon retry (mem_mb * retry #).
rules:
  gene_fetch:                                    # Gene Fetch
    mem_mb: 8192
    threads: 4  
  fastp_qc:                                      # Fastp (merge and concat modes)
    mem_mb: 16384
    threads: 4
  clean_headers_merge:                           # Clean fastq headers (merge mdoe)
    mem_mb: 16384
    threads: 4
  fastq_concat:                                  # Concatentaiton of fastp QC'd fastq files (concat mode)
    mem_mb: 16384
    threads: 4
  gzip_trimmed:                                  # Compression of fastp QC'd PE fastq files (concat mode)
    mem_mb: 8192
  quality_trim:                                  # Trim Galore (concat mode)
    mem_mb: 16384
    threads: 4
  MitoGeneExtractor:                             # MitoGeneExtractor (concat and merge mode)
    mem_mb: 32768
    threads: 8
    partition: PARTITION
  rename_and_combine_cons:                       # Clean and rename fasta headers
    mem_mb: 8192
    threads: 4
  human_cox1_filter:                             # 01_human_cox1_filter.py
    mem_mb: 32768
    threads: 8
  at_content_filter:                             # 02_at_content_filter.py
    mem_mb: 32768
    threads: 8
  statistical_outlier_filter:                    # 03_statistical_outlier.py
    mem_mb: 32768
    threads: 8
  reference_filter:                              # 04_reference_filter.py
    mem_mb: 4096
    threads: 1
  consensus_generation:                          # 05_consensus_generator.py
    mem_mb: 8192
    threads: 4
  extract_stats_to_csv:                          # mge_stats.py
    mem_mb: 16384
    threads: 4
  structural_validation:                         # structural_validation.py
    mem_mb: 16384
    threads: 16
    partition: PARTITION
  taxonomic_validation:                          # tv_local blast.py
    mem_mb: 51200
    threads: 32                                  # Minimum = 4 (4 threads given to each parallised BLASTn run)
    partition: PARTITION
  blast2taxonomy:                                # tv_blast2taxonomy.py
    mem_mb: 16384
    threads: 4
